<% include ./partials/header %>

<div class="row">
    <h1 style="text-align: center;">About YelpCamp</h1>
    <div style="width: 50%; margin: 25px auto;">
        <p>
            YelpCamp is a demo web application built using JavaScript,
            Node.js, Express, and MongoDB. The development environment used was 
            Cloud 9. Visitors are able to create a login, submit campgrounds, 
            review campgrounds, delete their submitted campgrounds, and 
            leave comments. This web application will be updated periodically in
            the future.
        </p>
        <p>
            Andrew Hoverson
        </p>
        </form>
        <a href="/campgrounds">Back to campgrounds</a>
    </div>
</div>


<% include ./partials/footer %>